<p>This is a quick demo app based on combining the quick start for Angular based on the CLI commands as well as dotnet ASP API Work:</p>
<ul>
  <li>You can view the ASP material here: <a href='https://learn.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-7.0&tabs=visual-studio-code'>Signal Demo</a></li>
  <li>You can view the angualr start up here<a href='https://learn.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-7.0&tabs=netcore-cli/'>Angular</a></li>
</ul>